*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 0 30px;
}
   input, button {
    margin-top: 10px;
    width: 105%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(134, 115, 115);
    background-color: aliceblue;
    color: rgb(1, 5, 255);
   }
   input::placeholder{
    font-weight: bold;
    
   }

   h1 {
     margin-top: 60px;
     padding: 20px;
     font-size: 35px;
     
   }

   .poki {
    text-align: center;
    padding-top: 10px;
    height: 60px;
   }

   .dd {
    text-align: center;

   }
   


   
